<div class="container-fluid">
  <!-- parte de cima -->
  <div class="row header">
    <div class="col-xl-1 offset-xl-1 brand">
      <img src="assets/imgs/logo.png" alt="">
    </div>
    <div class="col-xl-6 search">
      <input type="text" placeholder="O que você está procurando, Graffer?">
      <button class="btn_search">
        <i class="fas fa-search"></i>
        Buscar
      </button>
      <span>
        <a class="compras" href="#">Compras corporativas</a>
        <a class="parceiro" href="#">Seja um parceiro</a>
      </span>
    </div>
    <div class="col-xl-3 chart">
      <button class="btn_info">
        <i class="fas fa-question-circle"></i>
      </button>
      <span>
        <a href="#">Entrar</a>
        <a href="#">Cadastrar-se</a>
        <button class="btn_chart">
          <i class="fas fa-shopping-cart"></i>
        </button>
      </span>
    </div>
  </div>
  <!-- links -->
  <div class="row">
    <div class="col-xl-10 offset-xl-1 links">
      <button>
          <i class="fas fa-bars"></i>
          Todos os produtos
      </button>
      <span class="nav">
        <a class="active" href="">Cartões</a>
        <a href="">Panfletos e Folders</a>
        <a href=""> Adesivos e imãs</a>
        <a href="">Banners</a>
        <a href="">Para a sua festa</a>
      </span>
    </div>
  </div>
</div>