.container-fluid {
    padding: 0px;
}
.header {
    padding: 15px;
}
.search {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.chart {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    vertical-align: middle;
}
.compras {
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: #8A8C9B;
    text-decoration: none;
}
.parceiro {
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: #D57744;
    text-decoration: none;
}
input {
    width: 43%;
    border-radius: 25px;
    padding: 8px 50px 8px 20px;
    border: 1px solid grey;
}
.btn_search {
    border: 0;
    padding: 9px 18px;
    color: white;
    border-radius: 25px;
    margin-left: -40px;
    background-color: #0B1E25;
}
.btn_info {
    border: 0;
    background-color: transparent;
    font-size: 25px;
    color: grey;
}
.chart a {
    padding: 0 10px;
    color: grey;
    font-weight: bold;
}
.btn_chart {
    border: 0;
    padding: 9px 30px;
    margin: 0 10px;
    color: white;
    border-radius: 25px;
    background-color: #EF612F;
}


.links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.links button {
    border: 0;
    font-weight: bold;
    color: #EF612F;
    background-color: transparent;
    margin-right: 50px;
}
.fa-bars {
    padding: 12px 13px;
    color: white;
    font-size: 18px;
    border-radius: 100%;
    background-color: #EF612F;
    margin-right: 5px;
}
.nav a {
    color: grey;
    margin: 0 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 30px 0px 30px 0px;
   
}
.active {
    border-bottom: 2px solid grey;
}
@media screen and (max-width: 765px) {
    .brand { display: flex; justify-content: center;}
    input {
        width: 80%;
        font-size: 12px;
    }
    .btn_search {
        padding: 7px 18px;
    }
}