<app-navbar></app-navbar>

<!-- content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-5 offset-xl-1 brand">
        <p>card</p>
    </div>
    <div class="col-xl-5">
      <p>card</p>
    </div>
  </div>
</div>
